@charset "utf-8";

/*全局*/
body{
	font-family:Helvetica,Arial,"Microsoft YaHei","微软雅黑",STXihei,"华文细黑",SimSun,"宋体",sans-serif;
	font-size:62.5%;
}

a:link,a:visited,a:hover,a:active{

}

a:link,a:visited,a:hover,a:active{
    text-decoration: none;
}


.wrap{
    
}

.w{
	width: 1200px;
	margin: 0 auto;
}

.w_max{
	width: 1400px;
}


.w_per100{ width: 100%; }
.w_per90{ width: 90%; }
.w_per618{ width: 61.8%; }
.w_per382{ width: 38.2%; }

.w_per25{width: 25%;}
.w_per40{width: 40%;}
.w_per60{width: 60%;}
.w_per75{width: 75%;}



/* 头部 */
.header{ }

/* 功能区 */
.header .func{ text-align: right; padding: 20px 0; }
.header .func .link{ display: inline-block; font-size: 1.4em; line-height: 2em; color: #959595; text-transform: uppercase; padding: 0 10px; }
.header .func .link .icon{ margin:0 4px 0 0; }
.header .func .link:hover{ color: #363434; }
.header .func .shopcar{ margin-right: 20px; }

.header .logo{ margin-bottom: 20px; background: url(../images/logo_bottom.png) no-repeat center bottom; text-align: center; }
.header .logo .link{ display: inline-block;}
.header .logo .img{ display: block; max-width: 280px; }
.header .logo .link:hover .img{ -webkit-transform:scale(0.9); -moz-transform:scale(0.9); -ms-transform:scale(0.9); -o-transform:scale(0.9); transform:scale(0.9); }

/* main */
.main{ margin-top: 00px; padding-top: 40px; border-top: 2px solid #959595; overflow: hidden; }

/* footer*/
.footer{ margin: 40px auto; }
.footer p{ font-size: 1.4em; line-height: 2em; color: #959595; }


/* nav */
.nav{ }

/* nav main */
.nav_main{ padding:0 0 20px 0; height: 42px; }
.nav_main .list{ height: 42px; position: relative; }
.nav_main .list .link{ display: block; margin: 0 10px; font-size: 1.4em; line-height: 2.857142857142857em; color: #959595; text-align: center; text-transform: uppercase; }
.nav_main .list:hover > .link,
.nav_main .hover > .link{ color: #363434; border: 1px solid #363434; }

/* nav sub */
.nav_sub{ margin: 0 10px; padding:2px 0; border: 1px solid #363434; position: absolute; top: 41px; left: 0; right: 0; display: none; background: #fff; z-index: 2; }
.nav_sub .list{ }
.nav_sub .list .link{ text-align: left; font-size: 1.4em; line-height: 3em; padding:0 20px; color: #959595; }
.nav_main .list > .link + .nav_sub{ border-top:none; }
.nav_main .list > .link + .nav_sub .list .link{ border:none; color: #959595; }
.nav_main .list > .link:hover{ }
.nav_main .list:hover > .link + .nav_sub{ display: block; }
.nav_main .list .nav_sub .list .link:hover { color: #363434; -webkit-transform:translate(10px,0); -moz-transform:translate(10px,0); -ms-transform:translate(10px,0); -o-transform:translate(10px,0); transform:translate(10px,0); }

/* nav list */
.nav_list{ border: 1px solid #363434; padding: 10px 30px; }
.nav_list .list{ font-size: 1.4em; line-height: 2em; border-bottom: 1px solid #959595; }
.nav_list .list .link{ display: block; color: #959595; padding:10px 0; text-transform: uppercase;  }
.nav_list .list .link:hover,
.nav_list .list .hover{ color: #363434; font-weight: bold; padding-left: 10px; }



/* nav bottom */
.nav_bottom{ margin: 40px auto; }

.nav_bottom .nav_list_txtimg{ overflow: hidden; }
.nav_bottom .nav_list_txtimg .list{ text-align: center; }
.nav_bottom .nav_list_txtimg .list .link{ padding: 0 10px; display: block; }
.nav_bottom .nav_list_txtimg .list .title{ font-size:1.6em; line-height: 2.4em; color: #959595; text-transform: uppercase; }
.nav_bottom .nav_list_txtimg .list .img{ display: block; width: 100%; }

.nav_bottom .nav_list_txtimg .list:first-child{ text-align: left; }
.nav_bottom .nav_list_txtimg .list:first-child .link{ padding: 0 20px 0 0; }
.nav_bottom .nav_list_txtimg .list:last-child{ text-align: right; }
.nav_bottom .nav_list_txtimg .list:last-child .link{ padding: 0 0 0 20px; }
.nav_bottom .nav_list_txtimg .list .link:hover .title{ color: #363434; }

.nav_list_bottom{ overflow: hidden; margin:40px auto; border: 1px solid #959595; border-left:none; border-right:none; }
.nav_list_bottom .list{  }
.nav_list_bottom .list .link{ display: block; margin: 0 10px; font-size: 1.4em; line-height: 2.4em; color: #959595; text-align: center; text-transform: uppercase;  }
.nav_list_bottom .list .link:hover{ color: #363434; }



/*
	布局
*/
.g_col_2{ }
.g_col_2 .span{ width: 50%; float: left; }

.g_col_3{ }
.g_col_3 .span{ width:33.33333333333%; float: left; }

.g_col_4{ }
.g_col_4 .span{ width: 25%; float: left; }

.g_col_5{ }
.g_col_5 .span{ width:20%; float: left; }

.g_col_6{ }
.g_col_6 .span{ width: 16.6666666666666%; float: left; }

.g_col_6{ }
.g_col_6 .span{ width: 16.6666666666666%; float: left; }

.g_col_2575{}
.g_col_2575 .w_per25{ width: 25%; float: left;}
.g_col_2575 .w_per75{ width: 75%; float: right;}


/*
	元件
*/



/*
	模块
*/

/* banner */
.m_banner{ }
.m_banner .img{ width: 100%; display: block; }


/* video */
.m_video{ margin: 20px auto; }
.m_video video{ width: 100%; display: block; }



/* m_item_frame */
.m_item_frame{ overflow: hidden; }
.m_item_frame .itme{ }
.m_item_frame .itme .link{ display: block; margin: 0 10px; border: 4px solid #000; border: 4px solid rgba(0,0,0,0.6); overflow:hidden; }
.m_item_frame .itme .link .img{ display: block; width: 100%; }

.m_item_frame .itme:first-child{ }
.m_item_frame .itme:first-child .link{ margin: 0 20px 0 0; }
.m_item_frame .itme:last-child{ }
.m_item_frame .itme:last-child .link{ margin: 0 0 0 20px; }

.m_item_frame .itme .link:hover{ border: 4px solid rgba(0,0,0,1); }
.m_item_frame .itme .link:hover .img{ -webkit-transform: scale(1.04); -moz-transform: scale(1.04); -ms-transform: scale(1.04); -o-transform: scale(1.04); transform: scale(1.04); }


/* m_itme */
.m_itme{ overflow: hidden; }
.m_itme .list{ position: relative; }
.m_itme .list .img{ width: 100%; display: block; }
.m_itme .list .title{ position: absolute; left: 0; right: 0; top: 30px; margin: 0 auto; font-size: 3em; line-height: 1em; color: #4e4c4c; text-align: center; z-index: 2; }
.m_itme .list .frame{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; padding:20px; background: #000; background: rgba(0,0,0,.8); color: #fff; z-index: 4; opacity: 0; filter: alpha(opacity=0); }
.m_itme .list .frame .txt{ padding:60px 0px 0 0px; }
.m_itme .list .frame .txt p{ font-size: 1.4em; line-height: 1.8em; margin: 16px 0; }
.m_itme .list .frame .link{ margin: 40px 0; font-size: 1.4em; line-height: 2em; color: #fff; display: block; text-transform: uppercase; }

.m_itme .list:hover{ }
.m_itme .list:hover .frame{ opacity: 1; filter: alpha(opacity=100); }
.m_itme .list:hover .frame .title{ color: #fff; z-index: 6; }
.m_itme .list .frame .link:hover{ text-decoration: underline; }



/* m_itme_img */
.m_itme_img{ overflow: hidden; }
.m_itme_img .list{ display: block; position: relative; height: 100%; }
.m_itme_img .list .link{ display: block; position: relative; height: 100%; }
.m_itme_img .list .img{ display: block; width: 100%; }
.m_itme_img .list .box{ opacity: 0; filter: alpha(opacity=0); display: block; position:absolute; background: #000; background: rgba(0,0,0,.8); height: 100%; width: 100%; top: 0; }
.m_itme_img .list .box .wrappre{ position:relative; height: 100%; width: 100%; }
.m_itme_img .list .box .cell { position: absolute; top: 50%; left: 50%; }
.m_itme_img .list .box .cell .content{ position: relative; top: -50%; left: -50%; /*margin: -50% 0 0 -50%;*/ color: #fff; font-size: 2em; line-height: 1em; text-transform: uppercase; }
.m_itme_img .list .box .cell .content .title{ }
.m_itme_img .list:hover{ }
.m_itme_img .list:hover .box{ opacity: 1; filter: alpha(opacity=100); }


/* m_itme */
.m_itme_imgtxt{ overflow: hidden;}
.m_itme_imgtxt .list{ margin: 0px 0 20px 0; }
.m_itme_imgtxt .link{ display: block; position: relative; padding-bottom: 10px; }
.m_itme_imgtxt .cover{ display: block; width: 100%; }
.m_itme_imgtxt .title{ font-size: 1.6em; line-height: 1.4em; height: 3.2em; color: #959595; overflow: hidden; padding: 0 20px; }
.m_itme_imgtxt .float{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 100%; height: 100%; background: rgba(0,0,0,.8); opacity: 0; filter: alpha(opacity=100); }
.m_itme_imgtxt .float{}
.m_itme_imgtxt .float .wrappre{ position:relative; height: 100%; width: 100%; }
.m_itme_imgtxt .float .cell { position: absolute; top: 50%; left: 50%; }
.m_itme_imgtxt .float .cell .content{ position: relative; top: -50%; left: -50%; color: #fff; font-size: 2em; line-height: 1em; text-transform: uppercase; }
.m_itme_imgtxt .link:hover .float{ opacity: 1; filter: alpha(opacity=100); }


/* 分页 */
.m_page{ margin: 40px auto; }
.m_page a{ padding: 0 10px; margin: 0 4px; display: inline-block; border: 1px solid #959595; border-radius: 2px; color: #959595; font-size: 1.4em; line-height:1.8em; text-transform: uppercase; }
.m_page a:hover,
.m_page .hover{ color: #363434; border: 1px solid #363434; font-weight: bold; }


/* 登陆注册 */
.m_signin_login{
	overflow: hidden;
}
.m_signin_login .form_box{
	float: right;
}
.m_signin_login .form_box .title_main{
	font-size: 3em;
	line-height: 1em;
	color: #363434;
	text-transform: uppercase;
}








.m_signin_login .img_box{
	float: left;
}
.m_signin_login .img_box .img{
	display: block;
	width: 100%;
}







/*
	功能
*/



/*
	状态
*/
























/*

	全局
	
	  	  主色 363434
	 	  辅色 
    	高亮色
    	阴影色
    	点睛色
    	背景色

	  字体颜色 

	主标题颜色 4e4c4c 
	副标题颜色 959595
	  正文颜色 
	
	  过渡颜色

	主标题大小 
	副标题大小 
	  正文大小 14px

	主标题行高 
	副标题行高 
	  正文行高 

		  边距
		内填充

*/


/*

布局（grid）（.g-）：
将页面分割为几个大块，通常有头部、主体、主栏、侧栏、尾部等！

模块（module）（.m-）：
通常是一个语义化的可以重复使用的较大的整体！比如导航、登录、注册、各种列表、评论、搜索等！

元件（unit）（.u-）：
通常是一个不可再分的较为小巧的个体，通常被重复用于各种模块中！比如按钮、输入框、loading、图标等！

功能（function）（.f-）：
为方便一些常用样式的使用，我们将这些使用率较高的样式剥离出来，按需使用，通常这些选择器具有固定样式表现，比如清除浮动等！不可滥用！

皮肤（skin）（.s-）：
如果你需要把皮肤型的样式抽离出来，通常为文字色、背景色（图）、边框色等，非换肤型网站通常只提取文字色！非换肤型网站不可滥用此类！

状态（.z-）：
为状态类样式加入前缀，统一标识，方便识别，她只能组合使用或作为后代出现（.u-ipt.z-dis{}，.m-list li.z-sel{}），具体详见命名规则的扩展相关项。


*/